<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pluginSettings SYSTEM "../../../lib/pkp/dtd/pluginSettings.dtd">
<!--
  Default plugin settings installed on first activation.
-->
<pluginSettings>
	<setting name="thesaurus" type="string">unesco</setting>
	<setting name="thesauri" type="string">["unesco"]</setting>
	<setting name="interactionMode" type="string">suggestion</setting>
	<setting name="nvApiKey" type="string"></setting>
</pluginSettings>
